/* panels */
.profile__panel {
  width: 100%;
}

.profile__panel__title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
  text-align: center;
}

.profile__bubble {
  background-color: rgb(158, 158, 199);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile__panel__top {
  background-color: rgb(158, 158, 199);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 10px 10px 0;
  font-weight: bold;
  text-align: center;
}

.profile__panel__bottom {
  background-color: aliceblue;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin: 0 10px 10px;
  text-align: left;
}

.profile__panel__bottom input {
  width: 100%
}

/* avatar + stats */
.avatar__width {
  width: 60%;
}

.stats__width {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats__width .profile__panel__top {width: 100%;}
.stats__width .profile__panel__bottom {width: 100%;}

.center__txt {
  text-align: center;
  font-weight: bold;
}

.panel__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.panel__col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* avatar */
.rm__avatar__padding {
  padding: 0px;
}

.profile__avatar {
  width: 100%;
  height: auto;
  border-radius: 0 0 10px 10px;
  margin: auto;
}

.profile__avatar__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* match history */
.profile__hist__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.profile__hist__w {background-color: rgb(55, 116, 55);}
.profile__hist__l {background-color: rgb(230, 75, 75);}

.profile__hist__head th {
  font-weight: bold;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.profile__hist__table td {
  font-weight: normal;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.profile__hist__table tr {
  /* vertical-align: center; */
  text-align: center;
}

.dotted__table tr:nth-child(n+3) {
  border-top: 1px dotted black;
}

.rm__table__padding {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* achievements */
.profile__achiev__list {
  display: flex;
  flex-direction: column;
}

.profile__achiev {
  background-color: rgb(212, 228, 74);
}