p {
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 255);
}

#game {
  height: 100%;
  width: 100%;
}

#chat {
  height: 100%;
  width: 100%;
}

#login {
  color: aliceblue;
  margin-left: 100px;
  height: 100%;
  width: 100%;
}

#error-msg {
  color: red;
}

#logout {
  margin-left: 200px;
}

/* global container */
.app-container {
  background-image: url("./image/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

/* each side of middle section */
.middle-container {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  overflow-x: clip;
  overflow-y: scroll;
}

/* top and bottom headers */
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  width: 100vw;

  overflow-x: scroll;
  overflow-y: clip;
}

.topbar {
  position: absolute;
  top: 0px;
  height: 60px;
  justify-content: left;
}

.bottombar {
  position: absolute;
  bottom: 0px;
  height: 60px;
  justify-content: right;
}

.middle {
  position: absolute;
  top: 60px;
  height: calc(100% - 120px);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* width of game-side */
.game-width {
  width: 55%;
}

/* width of chat-side */
.chat-width {
  width: 45%;
}

/* cosmetic addons to headers */
.header-line {
  position: absolute;
  height: 3px;
  width: 100%;

  background: rgb(145, 145, 145);
  border-top: 1px solid rgb(37, 37, 37);
  border-bottom: 1px solid rgb(37, 37, 37);
  box-shadow: 0px 1px 1px 0px rgb(42, 42, 42);
}

.header-line-1a {
  top: 0px;
}

.header-line-1b {
  top: 57px;
}

.header-line-2a {
  bottom: 57px;
}

.header-line-2b {
  bottom: 0px;
}

.header-filter {
  position: absolute;
  height: 60px;
  width: 100%;

  background: rgb(190, 190, 190);
  opacity: 0.2;
}

.header-filter-1 {
  top: 0px;
}

.header-filter-2 {
  bottom: 0px;
}