a {
  color: black;
}

.lb__row__color tr:nth-child(odd):hover {
  background-color: rgb(230, 230, 230);
}
.lb__row__color tr:nth-child(even) {
  background-color: rgb(190, 190, 190);
}
.lb__row__color tr:nth-child(even):hover {
  background-color: rgb(180, 180, 180);
}
