.settings__title {
  color: antiquewhite;
  font-size: large;
}

.settings__subtitle {
  color: bisque;
  font-size: large;
}

/* avatar */

.settings__avatar {
  width: 100px;
  max-width: 100%;
  height: auto;

  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
}

.settings__avatar__container {
  display: flex;
  flex-wrap: nowrap;
  /* align-items: center; */
  /* margin: auto; */
  /* width: 50%; */
}

/* names */

.settings__namewrap {

  color: #f0ddff;
}

.settings__name__title {
  color: #f0ddff;
}

.settings__name__noedit {
  color: #f0ddff;
}

.settings__name__edit {
  color: #000000;
  background: rgb(255, 203, 203);
}

.settings__name__edit__button {
  color: #000000;
}

/* mfa */

.settings__mfa__status {
  color: #f0ddff;
}

/* background */

.settings__block {
  background: #28122b;
  position: relative;
  width: 360px;
}

.settings_screen {
  background: #46234b;
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #3c4977;
}

.container {
  background-image: url("../image/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}