.sms__confirm__icon {
    margin-left: 50%;
    top: 30px;
    color: #2c385e;
}

.sms__input__code__icon {
    margin-right: 0%;
    top: 30px;
    color: #2c385e;
}

.sms__check__code__icon {
    margin-left: 50%;
    top: 30px;
    color: #2c385e;
}

.button__sms__check__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #2c385e;
    box-shadow: 0px 2px 2px #2c385e;
    cursor: pointer;
    transition: 0.2s;
}