@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

.login__container {
  background-image: url("../image/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login__screen {
  background: linear-gradient(90deg, #445daf, #1d1f3e);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #3c4977;
}

.login__screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #2c385e;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #2c385e, #1d1f3e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #ffffff;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__signup {
  width: 320px;
  padding: 30px;
  padding-top: 70px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.authcode__field {
  padding: 20px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.login__icon {
  display: block;
  float: right;
  top: 30px;
  color: #2c385e;
}

.login__input {
  border: none;
  border-bottom: 2px solid #91a1e0;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #2c385e;
}

.login__buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c385e;
  background: #fff;
  border: 1px solid #d4d3e8;
  box-shadow: 0px 2px 2px #2c385e;
}

.login__buttons:active,
.login__buttons:focus,
.login__buttons:hover {
  border-color: #2c385e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #2c385e;
}

.login__input___show-button {
  background-color: #91a1e0;
  height: 39px;
  width: 39px;
  border-radius: 15px;
}

.login__input___show-button:active,
.login__input___show-button:hover {
  background-color: #2c385e;
  outline: none;
}

.error-msg {
  color: red;
  font-weight: 700;
  font-size: 14px;
}