.container {
  background-image: url("../../image/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chat-container {
  background: linear-gradient(90deg, #445daf, #1d1f3e);
  position: relative;
  height: 500px;
  width: 35%;
  box-shadow: 0px 0px 24px #3c4977;
}

.room-chat-container {
  height: 500px;
  width: 100%;
}

.room-chat-message-container {
  height: 85%;
  overflow-y: scroll;
  word-wrap: break-word;
}

.room-chat-textbox-container {
  height: 15%;
  width: 100%;
}

.room-chat-textbox {
  height: 100%;
  width: 100%;
  resize: none;
}

.room-menu {
  position: absolute;
  right: 0;
  background-color: #3c4977;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}

.room-menu-input-channel {
  width: 90%;
}

.room-menu-input-friend {
  width: 100%;
}

.user-menu {
  position: absolute;
  background-color: white;
  width: 50%;
  height: inherit;
}

.room-button {
  position: absolute;
  right: 0;
}

.room-menu-join-create-container {
  height: 5%;
}

.room-menu-room-list-container {
  height: 90%;
  overflow-y: scroll;
  word-wrap: break-word;
}

.room-menu-search-channel-container {
  height: 5%;
  bottom: 0;
}

.room-menu-user-icon {
  margin-right: 15%;
  margin-left: 5%;
}

.room-chat-message-text {
  color: white;
  font-weight: 700;
}

.room-chat-button-user {
  margin-right: 3%;
  text-align: left;
  border: 0px;
  width: fit-content;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.room-chat-button-user:active,
.room-chat-button-user:focus,
.room-chat-button-user:hover {
  color: #0a1435;
}

.room-menu-button-user {
  padding: 0;
  text-align: left;
  width: 100%;
  border: 0px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.room-menu-button-user:active,
.room-menu-button-user:focus,
.room-menu-button-user:hover {
  color: #0a1435;
}

.room-menu-button-join-room {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-button-join-room:active,
.room-menu-button-join-room:focus,
.room-menu-button-join-room:hover {
  border-color: #2c385e;
  outline: none;
}

.room-menu-close-button {
  width: 10%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-close-button:active,
.room-menu-close-button:focus,
.room-menu-close-button:hover {
  border-color: #2c385e;
  outline: none;
}

.room-menu-button-create-join {
  width: 50%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-button-create-join:active,
.room-menu-button-create-join:focus,
.room-menu-button-create-join:hover {
  border-color: #2c385e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #2c385e;
}

.create-room-button {
  width: 100%;
}

.join-room-button {
  width: 100%;
}

.chat-message {
  word-wrap: break-word;
}

.phrase {
  color: black;
}
