ul {
  list-style-type: none;
}

.room-chat-message-container {
  word-wrap: break-word;
}

.room-chat-textbox {
  width: 100%;
  resize: none;
  outline: none;
}

.room-chat-err-message {
  color: red;
}

/* time selector */
.time-selector-popup-error {
  color: #eda33d;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5%;
  cursor: pointer;
}

.time-selector-popup-input {
  width: 100%;
  cursor: pointer;
}

.room-menu-user-icon {
  margin-right: 15%;
  margin-left: 5%;
}

.room-chat-message-text {
  font-weight: 500;
  font-size: 90%;
}

.room-chat-button-user {
  margin-right: 3%;
  text-align: left;
  border: 0px;
  width: 100%;
  width: fit-content;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
}

.room-chat-button-user:active,
.room-chat-button-user:focus,
.room-chat-button-user:hover {
  color: #3e455e;
}

.room-chat-button-user:disabled {
  margin-right: 3%;
  text-align: left;
  border: 0px;
  width: 100%;
  width: fit-content;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  color: #eda33d;
}

.room-menu-button-dm {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  text-overflow: ellipsis;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-button-dm:active,
.room-menu-button-dm:focus,
.room-menu-button-dm:hover {
  border-color: #2c385e;
  outline: none;
}

.room-menu-button-dm:disabled {
  background: #54a5d9;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-button-user-block-friend {
  padding: 0;
  text-align: left;
  width: 80%;
  border: 0px;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
}

.room-menu-button-user-block-friend:active,
.room-menu-button-user-block-friend:focus,
.room-menu-button-user-block-friend:hover {
  color: #5a3500;
}

.room-menu-button-user-block-friend:disabled {
  padding: 0;
  text-align: left;
  width: 100%;
  border: 0px;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  color: #eda33d;
}

.room-menu-button-remove-user {
  width: 20%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 2px 2px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.room-menu-button-remove-user:active,
.room-menu-button-remove-user:focus,
.room-menu-button-remove-user:hover {
  border-color: #2c385e;
  outline: none;
}

.fullwidth-button {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  color: #2c385e;
  box-shadow: 0px 1px 1px #2c385e;
  cursor: pointer;
  transition: 0.2s;
}

.fullwidth-button:active,
.fullwidth-button:focus,
.fullwidth-button:hover {
  border-color: #2c385e;
  outline: none;
}

.margin-before {
  margin-top: 0.5em;
}

.chan-list-button {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d4d3e8;
  font-weight: 600;
  color: #2c385e;
  box-shadow: 0px 1px 1px #2c385e;
  cursor: pointer;
  transition: 0.2s;
  text-align: left;
  display: flex;
  align-items: center;
}

.chan-list-button:active,
.chan-list-button:focus,
.chan-list-button:hover {
  border-color: #2c385e;
  outline: none;
}

.chan-list-button svg {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.online {
  background:rgb(165, 120, 120)
}
.offline {
  background: #fdfdfd;
}
.ingame {
  background: #000000;
}

.indicator { 
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1;
  margin-right: 0.5em;

  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.line-with-indicator {
  display: flex;
  align-items: flex-start;
}